body{
    color: white;
    background-color: pink;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color: yellow;
}
#camera{
    border: 2px dashed black ;
    width: 300px;
    height: 300px;
}